.hobbies__title{
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 0.9rem;
}

.hobbies__line{
    margin-top: 1.5rem;
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobbies__box{
    display: flex;
    background: #FFFFFF;
    padding: 20px;
    gap: 8px;
    width: 34%;
    height: 105px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.hobbies__img{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.hobbies__name{
    margin-top: 1rem;
    font-weight: 700;
}

@media screen and (min-width:767px){
    .hobbies__line{
        margin-left: 1.4rem;
        display: flex;
        margin-bottom: 1.5rem;
        margin-top: 2rem;
    }
    .hobbies__box{
        width: 24%;
        height: 98px;
        margin-right: 1.4rem;
        margin-bottom: 1.5rem;
        padding: 23px;
    }
}

@media screen and (min-width:1023px){
    .hobbies__line{
    margin-left: 3.4rem; 
    margin-right: 3.7rem;
    margin-bottom: 2rem;
    }
    .hobbies__box{
        width: 11%;
        height: 109px;
        padding: 16px; 
        margin-right: 1rem; 
    }
    .hobbies__title{
        margin-top: -1.5rem;
    }
}

@media screen and (max-width:366px){
    .hobbies__box{
      width: 32%;
      }  

}