.about__title{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1rem;
    padding-top: 1.5rem;
   
}
.about__paragraph{
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem;
    text-align: justify;
    margin-top: -0.4rem;
    line-height: 1.3rem;
    padding-top: 1rem;
}
.about{
    background: #EAF2FD;
}

@media screen and (min-width:767px){
    .about__title{
        margin-left: 1.4rem;
        margin-right: 2rem;
        padding-top: 2rem;
    }
    .about__paragraph{
        margin-left: 1.4rem;
        margin-right: 2rem;

    }
    .about{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
    }

}

@media screen and (min-width:1023px){
    .about__title{
        margin-left: 3.4rem;
        margin-right: 2rem;
        padding-top: 3rem;
        font-size: 1.5rem;
    }
    .about__paragraph{
        margin-left: 3.4rem;
        margin-right: 23rem;
        padding-right: 3rem;
    }
    .about{
        margin-bottom: 2.5rem;
        padding-bottom: 2rem;
    } 
}
